<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>New Dog</h2>
        <form action="/mongooses" method="POST">
            <div class="col-sm-10">
                Dog Name:
                <input type="text" name="name" class="form-control" id="name">
            </div>
            <div class="col-sm-10">
                Dog Weight:
                <input type="text" name="weight" class="form-control" id="weight">
            </div>
            <div class="col-sm-10">
                Dog Color:
                <input type="text" name="color" class="form-control" id="color">
            </div>
    </div>
    <button type="submit" class="btn btn-success">Add new dog</button>
    </form>
    <a class="btn btn-outline-success" href="/">Home</a>
    </div>

</body>

</html>