<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Counter</h1>
        <div class="main-content">
            <h3 name='count'> This page is visited:
                <%= count %> time</h3>
            <div id="input1">
                <form action='/increment' method='post'>
                    <input type="submit" class="btn btn-success" value="Add two visits">
                </form>
            </div>
            <div id="input2">
                <form action='/destroy_session' method='post'>
                    <input type="submit" class="btn btn-danger" value="Reset">
                </form>
            </div>
        </div>
    </div>


</body>

</html>