<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page I</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1 class="text-center bg-info text-black">EJS cats</h1>
            <a href="/persian"><img src="http://localhost:8000/images/persian_cat.jpg" class="rounded-circle mx-auto d-block" alt="Persian-Cat" width="304" height="236"></a>
            <a href="/siberian"><img src="http://localhost:8000/images/siberian_cat.jpg" class="rounded-circle mx-auto d-block" alt="Siberian-Cat" width="304" height="236"></a>
            <a href="ragdoll"><img src="http://localhost:8000/images/ragdoll_cat.jpg" class="rounded-circle mx-auto d-block" alt="Ragdoll-Cat" width="304" height="236"></a>

        </div>
    </div>

</body>

</html>